*{margin:0; padding:0;}
.top{
    height:200%;
    background:white;
    margin-left:13%;
    width:55%;
    border-radius:8px; 
    margin-top:48%;
}
.tou{
    position:absolute;  
    left:32%;
    top:-10%;
}
.huxian{
position:absolute;
left:88px;
top:-48px;
}
.input1:focus{
    border: 1px solid rgba(26, 24, 24, 0.692);
    outline:none;
} 
.input2:focus{
    border: 1px solid rgba(26, 24, 24, 0.692);
    outline:none;
}      
.button{
width: 200px;
font-size: 16px;
line-height: 38px;
border-radius: 15px;
border-color:rgba(0, 102, 255, 0.76);
color: blue;
border-style:solid;    
border-width:1px;
position:absolute;
left:55px;
top:231px;
text-align:center;
}
.hrLine{
vertical-align:middle; display:inline-block;
}
.input2{
border-radius: 14px;
height:30px;
width:200px;
text-align:center;
border-color: rgba(15, 1, 1, 0.089);
position:absolute;
left:54px;
top:140px;
}
.input1{
    border-radius: 14px;
    height:30px;
    width:200px;
    text-align:center;
    border-color: rgba(15, 1, 1, 0.089);
    position:absolute;
    left:54px;
    top:87px;
    }